div {
	/*box-sizing: border-box;*/
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] div {
	border: 1px solid #999;
	background-color: #eee;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: purple;
}

[class*='col-'] {
	float: left;
	padding: 10px;
}

.col-lg-1 {
	width: 8.33%;
}

.col-lg-2 {
	width: 16.66%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-5 {
	width: 41.66%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-7 {
	width: 58.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.33%;
}

.col-lg-11 {
	width: 91.66%;
}

.col-lg-12 {
	width: 100%;
}

@media all and (max-width: 768px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}
