* {
    padding: 20px;
    margin: 0px;
}

.flex,
.flex > div {
    box-sizing: border-box;
}

.flex {
    border: 1px solid gray;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
}

.flex > div {
    width: 150px;
    border: 1px solid #f00;
    padding: 0;
    margin-bottom: 10px;
}

.flex_item1 {
    height: 120px;
}

.flex_item2 {
    height: 100px;
}

.flex_item3 {
    height: 40px;
}

.flex_item4 {
    height: 200px;
    border: 1px solid blue!important;
}

@media all and (max-width: 640px) {
    .flex_item4 {
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
    }
    .flex {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}
