#ctrls button {
    border: none;
}

#leftIn,
#rightIn {
    background-color: pink;
}

#leftOut,
#rightOut {
    background-color: red;
}

#numContainer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-width: 1320px;
    height: 240px;
}

#numContainer b {
    box-sizing: border-box;
    width: 20px;
    height: 50px;
    margin: 1px;
    text-align: center;
    background-color: pink;
    color: white;
    text-shadow: gray;
    font-size: 6px;
    background-color: white;
    transition: 500ms height;
}
