#universe div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#planet {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: green;
}

[id*='orbit'] {
    border: 2px solid pink;
}

#orbit1 {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

#orbit2 {
    width: 320px;
    height: 320px;
    border-radius: 160px;
}

#orbit3 {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

#orbit4 {
    width: 480px;
    height: 480px;
    border-radius: 240px;
}
